<div class="container-fluid" style="padding: 2% 8%">
  <div class="container my-3 text-center w-100 ">
    <h1>EDIT {{(car.brand+" "+car.model).toUpperCase()}}</h1>
  </div>
  <form class="container p-5 text-bg-dark rounded-4 fw-semibold" [formGroup]="carForm" (ngSubmit)="onSubmit()">
    <div class="row gx-0 gy-3">
      <!--image-->
      <div>
        <div class="mt-0 text-center">
          <img style="max-width: 100%; " [src]="pathImage">
        </div>
      </div>

      <!--image choose-->
      <div>
        <div class="row g-0">
          <label for="image" class="col-sm-2 form-label fs-4">Files</label>
          <div class="col-sm-10">
            <input class="form-control" type="file" id="image"
                   [ngClass]="{'is-valid':file?.value!=null}" formControlName="file"
                   (change)="uploadFile($event)">

          </div>
        </div>
      </div>

      <!--brand and model-->
      <div>
        <div class="row row-cols-sm-2 g-0">
          <div class="row mb-1 mb-sm-0 g-0">
            <label for="brand" class="col-sm-4 form-label fs-4 required">Brand</label>
            <div class="col-sm-8 col-md-7 col-lg-5">
              <select class="form-select"
                      [ngClass]="{'is-valid':brand?.valid}"
                      formControlName="brand" id="brand" #selectBrand>
                <option *ngIf="!brand?.dirty" selected value="">Brand</option>
                <option *ngFor="let brand of brandChoose | keyvalue"
                        value="{{brand.key}}">{{brand.value}}</option>
              </select>

            </div>
          </div>
          <div class="row g-0">
            <label for="model" class="col-sm-4 form-label fs-4 text-sm-center required">Model</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="model"
                     [ngClass]="{'is-valid':model?.valid,'is-invalid':model?.invalid&&model?.dirty}"
                     formControlName="model" placeholder="Model">
              <div class="invalid-feedback">
                <span [hidden]="!model?.errors?.['maxlength']">Max length 40 symbols!</span>
                <span [hidden]="!model?.errors?.['minlength']">Min length 2 symbols!</span>
                <span [hidden]="!model?.errors?.['required']">Required!</span>
                <span [hidden]="!model?.errors?.['pattern']||(model?.errors?.['minlength']||model?.errors?.['maxlength']||
model?.errors?.['required'])">
                Valid characters: numbers, latin alphabet characters, space, and hyphen!
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 row gx-0 gy-3 mt-0">
        <!--body-->
        <div>
          <div class="row g-0">
            <label for="bodyType" class="col-sm-6 col-md-4 form-label fs-4 required">Body</label>
            <div class="col-sm-6 col-lg-5">
              <select class="form-select"
                      [ngClass]="{'is-valid':bodyType?.valid}"
                      formControlName="bodyType" id="bodyType">
                <option *ngIf="!bodyType?.dirty" selected value="">Body</option>
                <option *ngFor="let bodyType of bodyTypes | keyvalue"
                        value="{{bodyType.key}}">{{bodyType.value}}</option>
              </select>
            </div>
          </div>
        </div>

        <!--engine size-->
        <div>
          <div class="row g-0">
            <label for="engine" class="col-6 col-md-4 form-label fs-4">
              <span>Engine:</span>
            </label>
            <div class="col-6 col-sm-5 col-lg-4">
              <div class="input-group" [ngClass]="{'is-valid':engineSize?.valid,'is-invalid':engineSize?.invalid&&engineSize?.dirty}">
                <input type="number" step="0.1" id="engine" min="0" max="10" class="form-control"
                       [ngClass]="{'is-valid':engineSize?.valid,'is-invalid':engineSize?.invalid&&engineSize?.dirty}"
                       placeholder="Engine size" formControlName="engineSize">
                <span class="input-group-text fw-semibold"><img src="assets/icons/l-solid.svg" width="10"></span>
              </div>

              <div class="invalid-feedback">
                <span [hidden]="!engineSize?.errors?.['max']">Max engine size 10!</span>
                <span [hidden]="!engineSize?.errors?.['min']">Min engine size 0.1!</span>
                <span [hidden]="!engineSize?.errors?.['required']">Required!</span>
              </div>
            </div>
          </div>
        </div>

        <!--year-->
        <div  >
          <div class="row g-0">
            <label for="engine" class="col-6 col-md-4 form-label fs-4">Year:</label>
            <div class="col-6 col-sm-5 col-lg-4">
              <input type="number" class="form-control" min="1880" max="2100" id="year" [class.is-valid]="year?.valid"
                     [class.is-invalid]="year?.invalid&&year?.dirty" formControlName="year">
              <div class="invalid-feedback">
                <span [hidden]="!year?.errors?.['max']">Max year 2100!</span>
                <span [hidden]="!year?.errors?.['min']">Min year 1880!</span>
                <span [hidden]="!year?.errors?.['required']">Required!</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--transmission-->
      <div>
        <div class="row g-0">
          <label for="bodyType" class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center form-label fs-4">Transmission</label>
          <div class="row g-0 d-flex justify-content-between">
            <div class="col-md-6 row g-0">
              <div *ngFor="let transmission of transmissionTypes|keyvalue;let i = index"
                   class="col-md-6 col-lg-4 form-check">
                <input class="form-check-input mt-2" type="radio" formControlName="transmissionType"
                       [value]="transmission.key" [id]="transmission.key">
                <label class="form-check-label fs-5" [for]="transmission.key">
                  {{transmission.value}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--short description-->
      <div>
        <div class="row g-0">
          <label for="shortDescription" class="form-label fs-4">Short description:</label>
          <textarea class="form-control col-12" maxlength="151" id="shortDescription" rows="2"
                    [class.is-valid]="shortDescription?.valid&&shortDescription?.value!=''"
                    [class.is-invalid]="shortDescription?.invalid&&shortDescription?.dirty"
                    formControlName="shortDescription" placeholder="Short description"></textarea>
          <div class="invalid-feedback">
            <span [hidden]="!shortDescription?.errors?.['maxlength']">Max length 150 symbols!</span>
            <span [hidden]="!shortDescription?.errors?.['minlength']">Min length 25 symbols!</span>
          </div>
        </div>
      </div>

      <!--description-->
      <div>
        <div class="row g-0">
          <label for="description" class="form-label fs-4">Description:</label>
          <textarea class="form-control" id="description" rows="5" maxlength="5001"
                    [class.is-valid]="description?.valid&&description?.value!=''" [class.is-invalid]="description?.invalid&&description?.dirty"
                    formControlName="description" placeholder="Description"></textarea>
          <div class="invalid-feedback">
            <span [hidden]="!description?.errors?.['maxlength']">Max length 5000 symbols!</span>
            <span [hidden]="!description?.errors?.['minlength']">Min length 50 symbols!</span>
          </div>
        </div>
      </div>

      <!--options list-->
      <div>
        <div formArrayName="optionalList" class="row g-3">
        <span class="col-auto fs-4">
          Options:
        </span>

          <div *ngFor="let option of optionalList.controls;let i = index" class="col-auto d-inline-flex align-items-center">
            <div class="option-chips">
              {{option.value}}
              <span (click)='dropOption(i)' class="d-flex align-items-center ms-2" style="cursor: pointer">
                <img src="assets/icons/icons8-railroad-crossing-96.png" width="22">
              </span>
            </div>
          </div>

        </div>
      </div>

      <div>
        <div class="row g-0">
          <div class="col-sm-8 col-xl-6 row g-0 gy-2 ps-0 d-flex justify-content-between">

            <div class="col-sm-7 col-xl-8"
                 [class.is-valid]="optional?.valid&&optional?.value!==''&&optional?.value!==null"
                 [class.is-invalid]="optional?.invalid&&optional?.dirty">
              <input #optionalInput class="form-control" maxlength="26" id="option" type="text"
                     [class.is-valid]="optional?.valid&&optional?.value!==''&&optional?.value!==null"
                     [class.is-invalid]="optional?.invalid&&optional?.dirty"
                     formControlName="optional" placeholder="Add option" (keydown.enter)="addOption()">
              <div class="invalid-feedback">
                <span [hidden]="!optional?.errors?.['maxlength']">Max length 25 symbols!</span>
                <span [hidden]="!optional?.errors?.['minlength']">Min length 2 symbols!</span>
                <span
                  [hidden]="!optional?.errors?.['pattern']||(optional?.errors?.['minlength']||optional?.errors?.['maxlength'])">
                Valid characters: numbers, latin alphabet characters, space, and hyphen!
              </span>
              </div>
            </div>

            <div class="col-sm-5 col-xl-2 d-flex justify-content-end">
              <div class="text-center">
                <button type="button" class="btn btn-success" (click)="addOption()"
                        [disabled]="optional?.invalid||optional?.value===''||optional?.value===null">
                  <span class="d-flex align-items-center"><img src="assets/icons/plus-8-16.png" class="me-2">Add option</span>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--buttons-->
      <div>
        <div class="row g-0 d-flex justify-content-end">
          <button type="button" class="btn btn-danger col-auto me-3" data-bs-target="#cancelForm" data-bs-toggle="modal">
            <span class="d-flex align-items-center"><img src="assets/icons/x-mark-16.png" class="me-2">Cancel</span>
          </button>

          <button type="submit" class="btn btn-success col-auto" [disabled]="!carForm.valid">
            <span class="d-flex align-items-center"><img src="assets/icons/check-mark-12-16.png" class="me-2">Submit</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="cancelForm" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-6 text-center" id="staticBackdropLabel">Are you sure you want to undo your changes,
          and close form?</h1>
      </div>
      <div class="d-flex justify-content-center modal-footer border-0">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          <span class="d-flex align-items-center"><img src="assets/icons/x-mark-16.png" class="me-2">No</span>
        </button>

        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="location.back()">
          <span class="d-flex align-items-center"><img src="assets/icons/check-mark-12-16.png" class="me-2">Yes</span>
        </button>
      </div>
    </div>
  </div>
</div>

