<div class="container-fluid" style="padding: 1% 8%">
  <div class="container my-2 text-center w-100 mb-4">
    <h1>Catalog<span *ngIf="noCars"> is empty!</span></h1>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4">
    <div class="col" *ngFor="let car of cars;let i = index">
      <div [id]="'car-card-'+i"
           class="card h-100 rounded-3 text-bg-dark box-shadow p-3 p-lg-4" data-aos="fade-up"
           data-aos-anchor-placement="top-bottom" data-aos-duration="10000">
        <div class="pb-3 text-center card-img-top" style="width: 100%; display: block">
          <div class="d-flex align-items-center justify-content-center w-100 img-card-height"
               style="position: relative">
            <div *ngIf="auth.isAuthenticated()" style="position: absolute;top:0px;width: 100%" class="text-end">
              <button [id]="'car-edit-button-' + i" type="button" class="btn btn-warning me-1 me-lg-2 card-button" [routerLink]="['edit', car.id]"
                      ngbTooltip="Edit car" placement="top">
                <span class="d-flex align-items-center justify-content-center fw-semibold" style="height: 28px;width: 20px"><img src="assets/icons/pen-24.png"></span>
              </button>

              <button [id]="'car-delete-button-'+i" type="button"
                      class="btn btn-danger card-button" (click)="open(carModal)"
                      ngbTooltip="Delete car" placement="top" [attr.data-bs-target]="'#modal-'+i">
                <span class="d-flex align-items-center justify-content-center" style="height: 28px;width: 20px"><img
                  src="assets/icons/trash-24.png"></span>
              </button>

            </div>
            <img [id]="'car-image-'+i" style="max-width: 100%; max-height: 100%; cursor: pointer"
                 [src]="'https://carcatalogimages.s3.eu-west-3.amazonaws.com/'+ car.imageName"
                 [routerLink]="['details', car.id]">
          </div>
        </div>
        <div [id]="'car-title-'+i" class="card-title text-center m-0">
          <h3 class="mb-0">{{getValueBrandByStringKey(car.brand)}} {{car.model}}</h3>
        </div>

        <div *ngIf="car.shortDescription!=null" [id]="'car-short-description-'+i"
             class="card-body p-0 mt-3">
          <p class="mb-0" style="white-space: pre-wrap">{{car.shortDescription}}</p>
        </div>

<!--        <div class="modal fade" [id]="'modal-'+i" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content border-0">
              <div class="modal-header border-0">
                <h1 class="modal-title fs-6 text-center text-dark" id="staticBackdropLabel">Are you sure you want to
                  delete the {{getValueBrandByStringKey(car.brand)}} {{car.model}}?</h1>
              </div>
              <div class="d-flex justify-content-center modal-footer border-0 p-3">
                <button [id]="'cancel-modal-button-'+i" type="button"
                        class="btn btn-secondary" data-bs-dismiss="modal">
                  <span class="d-flex align-items-center"><img src="assets/icons/ban.png" class="me-2">Cancel</span>
                </button>

                <button [id]="'confirm-modal-button-'+i" type="button"
                        class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(car.id)">
                  <span class="d-flex align-items-center"><img src="assets/icons/trash.png" class="me-2">Delete</span>
                </button>
              </div>
            </div>
          </div>
        </div>-->


        <ng-template #carModal let-modal>
          <div class="modal-header border-0 d-flex justify-content-center">
            <h6 class="modal-title text-center" id="modal-basic-title">Are you sure you want to
              delete the {{getValueBrandByStringKey(car.brand)}} {{car.model}}?</h6>
          </div>
          <div [id]="'modal-'+i" class="d-flex justify-content-center modal-footer border-0 p-3">
            <button [id]="'cancel-modal-button-'+i" id="confirm-modal-button" type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">
              <span class="d-flex align-items-center"><img src="../../../assets/icons/ban.png" class="me-2">Cancel</span>
            </button>

            <button [id]="'confirm-modal-button-'+i" type="button" class="btn btn-danger" (click)="modal.close('Save click');delete(car.id)">
              <span class="d-flex align-items-center"><img src="../../../assets/icons/check.png" class="me-2">Delete</span>
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

