
.card:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
  transition-duration: 0.5s;
}

@media (hover: hover) {
  .card-button{
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .card:hover .card-button{
    display: inline-block;
    opacity: 1;
    transition: opacity 1s;
  }
}

@media (hover: none) {
  .card-button{
    display: inline-block;
    opacity: 1;
  }
}

@media only screen and (max-device-height: 2400px) and (min-device-height: 1401px) {
  .img-card-height {
    height: 450px;
  }
}
@media only screen and (max-device-height: 680px) and (min-device-height: 0px) {
  .img-card-height {
    height: 120px;
  }
}

@media only screen and (max-device-height: 1400px) and (min-device-height: 681px) {
  .img-card-height {
    height: 200px;
  }
}
