@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.card:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
  transition-duration: 0.5s;
}

#up-arrow:hover{
  filter: drop-shadow(1px 1px 3px #101010);
  -webkit-filter: drop-shadow(1px 1px 3px #101010);
  cursor: pointer;
}
