<div style="min-height: 100vh;display: flex;flex-direction: column;width:100%">
  <div style="flex: 1;width:100%">
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg py-1 navbar-dark text-bg-dark shadow-sm">
      <div class="container-fluid pl-1">
        <a class="navbar-brand">
          <!-- Logo Image -->
          <img src="../assets/logo.png" routerLink="/" class="d-inline-block align-middle mr-5">
          <!-- Logo Text -->
          <span class="text-uppercase font-weight-bold">Car-catalog</span>
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="auth.isAuthenticated()"><a routerLink="add" class="nav-link" >Add car<span class="sr-only">(current)</span></a></li>
            <li class="nav-item" *ngIf="!auth.isAuthenticated()"><a routerLink="login" class="nav-link" >Log in</a></li>
            <li class="nav-item" *ngIf="auth.isAuthenticated()"><a routerLink="login" class="nav-link" (click)="auth.logout()">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>

  <footer class="footer py-3 bg-dark">
    <div class="container text-center">
      <span class="text-muted">© 2022 Implemica, Car-catalog</span>
    </div>
  </footer>

</div>
