<div style="min-height: 100vh;display: flex;flex-direction: column;width:100%">
  <div style="flex: 1;width:100%">
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg py-1 navbar-dark text-bg-dark shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <!-- Logo Image -->
          <img src="../assets/logo.png" class="d-inline-block align-middle me-2" style="cursor: pointer">
          <!-- Logo Text -->
          <span class="text-uppercase font-weight-bold">Car-catalog</span>
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item py-2" *ngIf="auth.isAuthenticated()">
              <button routerLink="add" class="btn btn-success me-2" (mouseover)="textAddCarButton=true"
                      (mouseleave)="textAddCarButton=false">
              <span [hidden]="textAddCarButton===true">
                <img src="assets/icons/plus-solid.svg" width="21">
              </span>
                <span [hidden]="textAddCarButton===false">Add car</span><span class="sr-only">(current)</span>
              </button>

              <button class="btn btn-danger" data-bs-toggle="modal"
                      data-bs-target="#modalLogout" (mouseover)="textLogOutButton=true"
                      (mouseleave)="textLogOutButton=false">
              <span [hidden]="textLogOutButton===true">
                <img src="assets/icons/right-from-bracket-solid.svg" width="16">
              </span>
                <span [hidden]="textLogOutButton===false">Log out</span>
              </button>

            </li>
            <li class="nav-item py-2" *ngIf="!auth.isAuthenticated()">
              <button routerLink="login" class="btn btn-success" (mouseover)="textLogInButton=true"
                      (mouseleave)="textLogInButton=false">
              <span [hidden]="textLogInButton===true">
                <img src="assets/icons/right-to-bracket-solid.svg" width="16">
              </span>
                <span [hidden]="textLogInButton===false">Log in</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>

  <footer class="footer py-3 bg-dark">
    <div class="container text-center">
      <span class="text-muted">© 2022 Implemica, Car-catalog</span>
    </div>
  </footer>

</div>

<div class="modal fade" id="modalLogout" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-6 text-center" id="staticBackdropLabel">Are you sure you want to log out?</h1>
      </div>
      <div class="d-flex justify-content-center modal-footer border-0">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" routerLink="login"
                (click)="auth.logout() ">Log out
        </button>
      </div>
    </div>
  </div>
</div>

