<div style="min-height: 100vh;display: flex;flex-direction: column;width:100%">
  <div style="flex: 1;width:100%">
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg py-1 navbar-dark text-bg-dark shadow-sm">
      <div class="container-fluid">
        <a id="logo" class="navbar-brand" routerLink="/">
          <!-- Logo Image -->
          <img src="../assets/logo.svg" height="47" width="168" class="d-inline-block align-middle me-2" style="cursor: pointer">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">

            <li id="user-avatar" class="nav-item d-flex align-items-center py-2 ms-1 " *ngIf="auth.isAuthenticated()">
              <span class="d-flex align-items-center">
                <img src="assets/icons/user.png" width="30" class="me-2">
                <h6 class="d-inline-block mt-2">Petro</h6>
              </span>
            </li>

            <li class="nav-item d-flex align-items-center py-2 ms-1 ms-lg-5" *ngIf="auth.isAuthenticated()">
              <button id="button-to-add-car-page" routerLink="add" class="btn btn-success me-2">
                <span class="d-flex align-items-center"><img src="assets/icons/plus%20.png" class="me-2">Add car</span>
              </button>

              <button id="logout-button" class="btn btn-danger" (click)="open(logoutmodal)">
                <span class="d-flex align-items-center"><img src="assets/icons/logout.png" class="me-2">Logout</span>
              </button>
            </li>

            <li class="nav-item d-flex align-items-center py-2" *ngIf="!auth.isAuthenticated()">
              <button id="login-button" routerLink="login" class="btn btn-success d-flex align-items-center">
                <span class="d-flex align-items-center"><img src="assets/icons/log-in.png" class="me-2">Login</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>

  </div>

  <footer class="footer py-3 bg-dark">
    <div class="container text-center">
      <span class="text-muted">© 2022 Implemica, Car-catalog</span>
    </div>
  </footer>

</div>

<div *ngIf="scrolled" class="col d-flex justify-content-end pe-sm-3">
  <img (click)="scrollToTop()" id="up-arrow" src="assets/icons/chevron-up-solid.svg"
       style="position: fixed;bottom: 60px" width="30">
</div>

<!--<div class="modal fade" id="modal-logout" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header border-0 d-flex justify-content-center">
        <h1 class="modal-title fs-6 text-center" id="staticBackdropLabel">Are you sure you want to log out?</h1>
      </div>
      <div class="d-flex justify-content-center modal-footer border-0 p-3">
        <button id="cancel-modal-logout" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <span class="d-flex align-items-center"><img src="assets/icons/ban.png" class="me-2">Cancel</span>
        </button>

        <button id="confirm-modal-logout" type="button" class="btn btn-danger" data-bs-dismiss="modal" routerLink="login" (click)="auth.logout()">
          <span class="d-flex align-items-center"><img src="assets/icons/logout.png" class="me-2">Logout</span>
        </button>
      </div>
    </div>
  </div>
</div>-->


<ng-template #logoutmodal let-modal>
  <div class="modal-header border-0 d-flex justify-content-center">
    <h6 class="modal-title" id="modal-basic-title">Are you sure you want to logout?</h6>
  </div>
  <div id="modal-logout" class="d-flex justify-content-center modal-footer border-0 p-3">
    <button id="cancel-modal-logout" type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">
      <span class="d-flex align-items-center"><img src="assets/icons/ban.png" class="me-2">Cancel</span>
    </button>

    <button id="confirm-modal-logout" type="button" class="btn btn-danger" routerLink="login" (click)="auth.logout();modal.close('Save click')">
      <span class="d-flex align-items-center"><img src="assets/icons/logout.png" class="me-2">Logout</span>
    </button>
  </div>
</ng-template>

