<div class="container-fluid" style="padding: 1% 8%">
  <div class="container my-2 text-center w-100 ">
    <h1 id="brand-model">{{getValueBrandByStringKey(car.brand)}} {{car.model}}</h1>
  </div>

  <div class="container p-4 p-lg-5 text-bg-dark rounded-4 my-4">
    <div class="row gx-0 gy-3">
      <div class="mt-0 text-center img-top col-lg-8 order-lg-2">
        <img id="image" style="max-width: 100%;" [src]="'https://carcatalogimages.s3.eu-west-3.amazonaws.com/'+ car.imageName">
      </div>

      <div class="col-sm-8 col-md-6 col-lg-4 order-lg-1 pt-3">
        <div class="row gx-0 gy-4">
          <div class="row g-0">
            <h4 class="col-7 col-lg-7">Body:</h4>
            <h4 id="body-type" class="col-5 col-lg-5 text-secondary">{{getValueBodyTypeByStringKey(car.bodyType)}}</h4>
          </div>

          <div class="row g-0">
            <h4 class="col-7 col-lg-7">Transmission:</h4>
            <h4 id="transmission" class="col-5 col-lg-5 text-secondary">{{car.transmissionType|titlecase}}</h4>
          </div>

          <div *ngIf="car.engineSize!=null" class="row g-0">
            <h4 class="col-7 col-lg-7" *ngIf="car.engineSize!=0">Engine size: </h4>
            <h4 class="col-7 col-lg-7" *ngIf="car.engineSize==0">Engine: </h4>
            <h4 id="engine" class="col-5 col-lg-5 text-secondary">{{car.engineSize==0?'Electric':((car.engineSize|number) + 'L')}}</h4>
          </div>

          <div *ngIf="car.year!=null" class="row g-0">
            <h4 class="col-7 col-lg-7">Year:</h4>
            <h4 id="year" class="col-5 col-lg-5 text-secondary">{{car.year}}</h4>
          </div>

          <div *ngIf="car.shortDescription!=null" class="col-12 d-none d-lg-block" style="word-wrap: break-word; white-space: pre-wrap">
            <h4>Short description:</h4>
            <p id = "short-description" class="text-secondary" style="font-size: 24px">{{car.shortDescription}}</p>
          </div>
        </div>
      </div>

      <div class="d-flex w-100 row gx-0 gy-3 order-lg-3 mt-0">
        <div *ngIf="car.description!=null" class="col-12 d-inline" style="word-wrap: break-word; white-space: pre-wrap">
          <h4>Description:</h4>
          <p id = "description" class="text-secondary" style="font-size: 24px">{{car.description}}</p>
        </div>

        <h4>Optional list:</h4>
        <ul class="ps-3 row g-0">
          <li *ngFor="let option of car.optionsList" class="col-md-6 col-lg-4 m-0"><h5 id = "option-'{{option}}'"
            class="text-secondary option-item">{{option}}</h5></li>
        </ul>

        <div *ngIf="auth.isAuthenticated()" class="d-flex justify-content-end">
          <div>
            <button id="delete-car-button" type="button" class="btn btn-danger me-3" (click)="open(deleteByIdmodal)">
              <span class="d-flex align-items-center"><img src="assets/icons/trash.png" class="me-2">Delete</span>
            </button>

            <button id="update-car-button" type="button" class="btn btn-warning" [routerLink]="['/edit', car.id]">
            <span class="d-flex align-items-center fw-semibold"><img src="assets/icons/pen.png" class="me-2">Edit</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--<div class="modal fade" id="delete-car-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-6 text-center" id="staticBackdropLabel">Are you sure you want to delete the car?</h1>
      </div>
      <div class="d-flex justify-content-center modal-footer border-0">
        <button id="cancel-modal-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <span class="d-flex align-items-center"><img src="assets/icons/ban.png" class="me-2">Cancel</span>
        </button>

        <button id="confirm-car-modal-button" type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">
          <span class="d-flex align-items-center"><img src="assets/icons/trash.png" class="me-2">Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>-->

<ng-template #deleteByIdmodal let-modal>
  <div class="modal-header border-0 d-flex justify-content-center">
    <h6 class="modal-title text-center" id="modal-basic-title">Are you sure you want to delete the car?</h6>
  </div>
  <div id="delete-car-modal" class="d-flex justify-content-center modal-footer border-0 p-3">
    <button id="cancel-modal-button" type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">
      <span class="d-flex align-items-center"><img src="assets/icons/ban.png" class="me-2">Cancel</span>
    </button>

    <button id="confirm-car-modal-button" type="button" class="btn btn-danger" (click)="delete();modal.close('Save click')">
      <span class="d-flex align-items-center"><img src="assets/icons/trash.png" class="me-2">Delete</span>
    </button>
  </div>
</ng-template>
