<div class="container-fluid" style="padding: 2% 8%">
  <div class="container text-center w-100 mb-4" style="font-family: 'Luckiest Guy', cursive;">
    <h1>Details</h1>
  </div>

  <div class="container row g-0 my-5 text-bg-dark rounded-5 p-5 shadow-lg">
    <div class="p-3 text-center img-top col-12">
      <img style="max-width: 100%;" [src]="'https://carcatalogimages.s3.eu-west-3.amazonaws.com/'+ car.imageName">
    </div>
    <div class="col-12 text-center">
      <h3>{{car.brand.replace('_',' ')|titlecase}} {{car.model}}</h3>
    </div>
    <hr>
    <div class="row col-12 col-sm-8 col-md-6 col-lg-4 g-0">
      <div class="col-12">
        <h4>Body: <span class="text-secondary">{{car.bodyType|titlecase}}</span></h4>
      </div>
      <hr class="col-12">
      <div class="col-12">
        <h4>Transmission: <span class="text-secondary">{{car.transmissionType|titlecase}}</span></h4>
      </div>
      <hr class="col-12">
      <div class="col-12">
        <h4 *ngIf="car.engineSize!=0">Engine size: <span class="text-secondary">{{car.engineSize|number}}</span></h4>
        <h4 *ngIf="car.engineSize==0">Electric</h4>
      </div>
      <hr class="col-12">
      <div class="col-12">
        <h4>Year:  <span class="text-secondary">{{car.year}}</span></h4>
      </div>
      <hr class="col-12">
    </div>
    <h4>Description:</h4>
    <div class="col-12" style="word-wrap: break-word; white-space: pre-wrap">
      <p class="text-secondary" style="font-size: 24px">{{car.description}}</p>
    </div>
    <hr>
    <h4>Optional list:</h4>
    <ul class="ps-3 row g-0">
      <li *ngFor="let option of car.optionsList" class="col-md-6 col-xl-4 m-0"><h5 class="text-secondary">{{option}}</h5></li>
    </ul>

    <hr *ngIf="auth.isAuthenticated()" class="mb-3">
    <div *ngIf="auth.isAuthenticated()" class="container d-flex justify-content-end">
      <div>
        <button type="button" class="btn btn-danger mr-3" data-bs-toggle="modal"
                data-bs-target="#modal" (mouseover)="textDeleteButton=true"
                (mouseleave)="textDeleteButton=false">

              <span [hidden]="textDeleteButton===true">
                <img src="assets/icons/trash.svg" width="16">
              </span>
          <span [hidden]="textDeleteButton===false">Delete</span>
        </button>
        <button type="button" class="btn btn-warning" [routerLink]="['/edit', car.id]"
                (mouseover)="textEditButton=true" (mouseleave)="textEditButton=false">
              <span [hidden]="textEditButton===true">
                <img src="assets/icons/pen-solid.svg" width="16">
              </span>
          <span [hidden]="textEditButton===false" class="fw-semibold">Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-6 text-center" id="staticBackdropLabel">Are you sure you want to delete the car?</h1>
      </div>
      <div class="d-flex justify-content-end modal-footer border-0">
        <button type="button" data-bs-dismiss="modal" class="btn btn-success col-auto"
                (mouseover)="textModalCloseButton=true"
                (mouseleave)="textModalCloseButton=false">
              <span [hidden]="textModalCloseButton===true">
                <img src="assets/icons/ban-solid.svg" width="18">
              </span>
          <span [hidden]="textModalCloseButton===false">Close</span>
        </button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger col-auto me-3"
                (mouseover)="textModalDeleteButton=true"
                (mouseleave)="textModalDeleteButton=false"
                (click)="delete()">

          <span [hidden]="textModalDeleteButton===true">
                <img src="assets/icons/trash.svg" width="16">
          </span>
          <span [hidden]="textModalDeleteButton===false">Delete</span><span class="sr-only">(current)</span>
        </button>
      </div>
    </div>
  </div>
</div>
