<div class="container-fluid" style="padding: 2% 8%">
  <div class="container text-center w-100 mb-4" style="font-family: 'Luckiest Guy', cursive;">
    <h1>Add Car</h1>
  </div>
  <div class="container-md mt-5 mb-5 text-bg-dark rounded-5 p-5">
    <form class="row g-3" [formGroup]="car" (ngSubmit)="onSubmit()">
      <div class="col-5">
        <input type="text" class="form-control" id="inputbrand"
               [ngClass]="{'is-valid':brand?.valid,'is-invalid':brand?.invalid&&brand?.dirty}" formControlName="brand"
               placeholder="Brand">
        <div class="invalid-feedback">
          <span>Brand should be: </span>
          <span *ngIf="brand?.errors?.['required']">fill</span>
          <span *ngIf="brand?.errors?.['minlength']">min length 2</span>
        </div>
      </div>

      <div class="col-5">
        <input type="text" class="form-control" id="inputModel"
               [ngClass]="{'is-valid':model?.valid,'is-invalid':model?.invalid&&model?.dirty}" formControlName="model"
               placeholder="Model">
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Looks bad!
        </div>
      </div>

      <div class="col-2">
        <input type="number" step="0.1" class="form-control" id="inputEngine"
               [ngClass]="{'is-valid':engineSize?.valid,'is-invalid':engineSize?.invalid&&engineSize?.dirty}"
               placeholder="Engine size" formControlName="engineSize">
      </div>

      <div class="col-4">
        <input type="number" class="form-control" id="inputYear"
               [ngClass]="{'is-valid':year?.valid,'is-invalid':year?.invalid&&year?.dirty}" formControlName="year"
               placeholder="Year">
      </div>

      <div class="col-2">
        <select class="form-select" aria-label=".form-select-lg example"
                [ngClass]="{'is-valid':bodyType?.valid,'is-invalid':bodyType?.invalid&&bodyType?.dirty}"
                formControlName="bodyType">
          <option selected value="">Select body type</option>
          <option *ngFor="let bodyType of bodyTypes | keyvalue" value="{{bodyType.key}}">{{bodyType.value}}</option>
        </select>
      </div>

      <div class="col-2">
        <select class="form-select" aria-label=".form-select example"
                [ngClass]="{'is-valid':transmissionType?.valid,'is-invalid':transmissionType?.invalid&&transmissionType?.dirty}"
                formControlName="transmissionType">
          <option selected value="">Select transmission type</option>
          <option *ngFor="let transmissionType of transmissionTypes | keyvalue"
                  [value]="transmissionType.key">{{transmissionType.value}}</option>
        </select>
      </div>

      <div class="col-4">
        <input class="form-control" type="file" id="image" multiple=""
               [ngClass]="{'is-valid':file?.valid,'is-invalid':file?.invalid&&file?.dirty}" formControlName="file"
               (change)="uploadFile($event)" placeholder="Image">
      </div>

      <div class="col-12">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" id="description" rows="3"
                  [ngClass]="{'is-valid':description?.valid,'is-invalid':description?.invalid&&description?.dirty}"
                  formControlName="description"></textarea>
      </div>

      <div class="col-12">
        <label for="shortDescription" class="form-label">Short description:</label>
        <textarea class="form-control" id="shortDescription" rows="3"
                  [ngClass]="{'is-valid':shortDescription?.valid,'is-invalid':shortDescription?.invalid&&shortDescription?.dirty}"
                  formControlName="shortDescription"></textarea>
      </div>

      <div formArrayName="optionalList">
        <h5>Options:</h5>

        <div *ngFor="let option of optionalList.controls; let i=index">
          <!-- The repeated alias template -->
          <div class="d-flex justify-content-between mb-3">
            <input class="form-control d-inline col-8" id="option-{{ i }}" type="text"
                   [ngClass]="{'is-valid':optionalList.at(i)?.valid,'is-invalid':optionalList.at(i)?.invalid&&optionalList.at(i)?.dirty}"
                   [formControlName]="i" placeholder="Option">
            <button type="button" class="btn btn-danger col-2 d-inline" (click)="removeOption(i)">Drop option</button>
          </div>
        </div>

        <button type="button" class="btn btn-success" (click)="addOption()">Add option</button>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!car.valid">Add car</button>
    </form>
  </div>
</div>

