<div class="container-fluid" style="padding: 2% 8%">
  <div class="container text-center w-100 mb-4" style="font-family: 'Luckiest Guy', cursive;">
    <h1>Add Car</h1>
  </div>
  <form class="container my-5 text-bg-dark rounded-5 p-5" [formGroup]="car" (ngSubmit)="onSubmit()">
    <div class="row g-3"><!--image-->
      <div class="col-12 p-3 text-center img-top" style=" display: block;">
        <img style="max-width: 100%; " [src]="pathImage">
      </div>
      <div class="col-12 row">
        <label for="image" class="col-2 form-label fs-4 fw-semibold required">Files</label>
        <div class="col-10 ps-1">
          <input class="form-control" type="file" id="image"
                 [ngClass]="{'is-valid':file?.valid,'is-invalid':file?.invalid&&file?.dirty}" formControlName="file"
                 (change)="uploadFile($event)">
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Looks bad!
          </div>
        </div>
      </div>
      <hr>
      <!--brand and model-->
      <div class="col-12 row justify-content-between">
        <div class="col-6 row">
          <label for="brand" class="col-4 form-label fs-4 fw-semibold required">Brand</label>
          <div class="col-8">
            <input type="text" class="form-control col-12" id="brand"
                   [ngClass]="{'is-valid':brand?.valid,'is-invalid':brand?.invalid&&brand?.dirty}"
                   formControlName="brand"
                   placeholder="Enter brand">
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Looks bad!
            </div>
          </div>
        </div>
        <div class="col-6 row">
          <label for="model" class="col-4 form-label fs-4 fw-semibold required">Model</label>
          <div class="col-8">
            <input type="text" class="form-control col-12" id="model"
                   [ngClass]="{'is-valid':model?.valid,'is-invalid':model?.invalid&&model?.dirty}"
                   formControlName="model"
                   placeholder="Enter model">
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Looks bad!
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!--body-->
      <div class="col-12 row">
        <div class="col-6 row">
          <label for="bodyType" class="col-6 form-label fs-4 fw-semibold required">Body</label>
          <div class="col-6">
            <select class="form-select col-12"
                    [ngClass]="{'is-valid':bodyType?.valid,'is-invalid':bodyType?.invalid&&bodyType?.dirty}"
                    formControlName="bodyType" id="bodyType">
              <option selected value="">Body</option>
              <option *ngFor="let bodyType of bodyTypes | keyvalue"
                      value="{{bodyType.key}}">{{bodyType.value}}</option>
            </select>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Looks bad!
            </div>
          </div>
        </div>
      </div>
      <hr class="col-6">
      <!--transmission-->
      <div class="col-12 row">
        <div class="row col-6">
          <label for="transmissionType" class="col-6 form-label fs-4 fw-semibold required">Transmission</label>
          <div class="col-6">
            <select class="form-select col-12" aria-label=".form-select example"
                    [ngClass]="{'is-valid':transmissionType?.valid,'is-invalid':transmissionType?.invalid&&transmissionType?.dirty}"
                    formControlName="transmissionType" id="transmissionType">
              <option selected value="">Transmission</option>
              <option *ngFor="let transmissionType of transmissionTypes | keyvalue"
                      [value]="transmissionType.key">{{transmissionType.value}}</option>
            </select>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Looks bad!
            </div>
          </div>
        </div>
      </div>
      <hr class="col-6">
      <!--engine size-->
      <div class="col-12 row">
        <div class="row col-6">
          <label for="engine" class="col-6 form-label fs-4 fw-semibold required">Engine size</label>
          <div class="col-6">
            <input type="number" step="0.1" class="form-control " id="engine" min="0.1" max="10"
                   [ngClass]="{'is-valid':engineSize?.valid,'is-invalid':engineSize?.invalid&&engineSize?.dirty}"
                   placeholder="Engine size" formControlName="engineSize">
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Looks bad!
            </div>
          </div>
        </div>
      </div>
      <hr class="col-6">
      <!--year-->
      <div class="col-12 row">
        <div class="col-6 row">
          <label for="engine" class="col-6 form-label fs-4 fw-semibold required">Year</label>
          <div class="col-6">
            <input type="number" class="form-control" min="1880" max="2100" id="year" [class.is-valid]="year?.valid"
                   [class.is-invalid]="year?.invalid&&year?.dirty" formControlName="year"
                   placeholder="Year">
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Looks bad!
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!--short description-->
      <div class="col-12 row mb-1">
        <label for="shortDescription" class="form-label col-12 fs-4 fw-semibold required">Short description:</label>
        <textarea class="form-control col-12" id="shortDescription" rows="3" maxlength="150"
                  [class.is-valid]="shortDescription?.valid"
                  [class.is-invalid]="shortDescription?.invalid&&shortDescription?.dirty"
                  formControlName="shortDescription" placeholder="Short description"></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Looks bad!
        </div>
      </div>
      <hr>
      <!--description-->
      <div class="col-12 row mb-1">
        <label for="description" class="form-label col-12 fs-4 fw-semibold required">Description:</label>
        <textarea class="form-control col-12" id="description" rows="3" maxlength="5000"
                  [class.is-valid]="description?.valid" [class.is-invalid]="description?.invalid&&description?.dirty"
                  formControlName="description" placeholder="Description"></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Looks bad!
        </div>
      </div>
      <hr>
      <!--options list-->
      <div formArrayName="optionalList" class="row col-12">
        <div class="col-12">
          <h4>Optional list:</h4>
        </div>
        <div *ngFor="let option of optionalList.controls; let i=index" class="col-12 row mb-3"
             [class.is-valid]="optionalList.at(i)?.valid"
             [class.is-invalid]="optionalList.at(i)?.invalid&&optionalList.at(i)?.dirty">
          <!-- The repeated alias template -->
          <div class="col-6 me-3 row">
            <input class="form-control" id="option-{{ i }}" type="text" maxlength="30"
                   [class.is-valid]="optionalList.at(i)?.valid"
                   [class.is-invalid]="optionalList.at(i)?.invalid&&optionalList.at(i)?.dirty"
                   [formControlName]="i" placeholder="Required*" (keydown.enter)="addOption(i+1)"
                   #listInputOptional>
          </div>
          <button type="button" class="btn btn-danger col-2" (click)="removeOption(i)">Drop option</button>
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Looks bad!
        </div>
        <button type="button" class="btn btn-success col-2" (click)="addOption(optionalList.length-1)"
                [disabled]="optionalList.invalid">Add option
        </button>
      </div>
      <hr>
      <!--buttons-->
      <div class="d-flex justify-content-between w-100">
        <button type="submit" class="btn btn-success col-5" [disabled]="!car.valid">Add car</button>
        <button type="reset" class="btn btn-danger col-5">Reset</button>
      </div>
    </div>
  </form>
</div>

